.logo {
    display: flex;
    align-items: center;
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1925;
    text-decoration: none;
    letter-spacing: 0.03em;

    color: $accent-color;
    
    &__accent {
        color: $logo-accent-color;

        &--footer {
            color: $white-color;
        }
    }
}