.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--benefit {
        padding-bottom: 0;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1668;
        text-align: center;
        letter-spacing: 00.03em;
        margin-top: 0;
        margin-bottom: 50px;
        color: $title-color;

        &--visually-hidden {
            @extend %visually-hidden;
        }
    }

    &--bg {
        background-color: $second-bg-color;
    }
}